@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: #F2f2f2;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.active{
    background-color: #026aa7;
    color: #ffffff
}